<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<style>
	#chaxun{

		width:700px;
		height:650px;
		margin:0 auto;
	}
	#leirong {
		width:500px;
		height:400px;
		margin:0 auto;
	}
</style>
<body>
<div id="chaxun">
	<div class="logo">
		<img src="/static/image/tou.jpg">
	</div>
	<div id="leirong">
		<div>
			<h3>姓名: {{ info_list.0 }}</h3>
		</div>
		<div>
			<h3>准考证编码: {{ info_list.1 }}</h3>
		</div>
		<div>
			<h3>身份证: {{ info_list.2 }}</h3>
		</div>
		<div>
			<h3>类型: {{ info_list.3 }}</h3>
		</div>
		<div>
			<h3>科目一: {{ info_list.4 }}</h3>
		</div>
		<div>
			<h3>科目二: {{ info_list.5 }}</h3>
		</div>
		<div>
			<h3>科目三: {{ info_list.6 }}</h3>
		</div>
		<div>
			<h3>科目四: {{ info_list.7 }}</h3>
		</div>
	</div>
	<div class="foot">
		<img src="/static/image/wei.png"> </div>
	</div>
</div>
</body>
</html>